<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/products/productDetail.css">

    <link rel="shortcut icon" href="/img/favicon.ico">
    <script src="https://kit.fontawesome.com/d160ea4c64.js" crossorigin="anonymous"></script>
    <title><%= show.name %>  | ticket-selva</title>
</head>

<body>
    <header>

        <%- include('../partials/navbar') %>

        <%- include('../partials/navSearch') %>

    </header>
    <!--Product Detail version 1-->
    <main>
        <div class="border">
            <h1 class="titulo-show"><%= show.name %>  </h1>
            <div class="description-product">
                <div class="imagen-show">
                    <img src= /<%= show.imgsrc %> class="imagen-show" alt="Imagen del Show correspondiente">
                </div>
                <div class="media">
                    <h1 class="subtitulo">Entradas para <%= show.name %> </h1>
                    <h4 class="disponibilidad">Disponibilidad</h4>
                    <div class="check-correct">
                        <i class="fa-solid fa-square-check"></i>
                        <a class="stock">In Stock</a>
                    </div>
                    <div class="info-del-show">
                        <h5>Fecha: <%= show.date %></h5>
                        <h5>Horario: <%= show.time %></h5>
                        <h5>Para autorizar su ingreso debera mostrar el codigo que tendra en su correo electronico</h5>
                    </div>
                    <div class="caja-de-compra">
                        <div class="border-caja-compra">
                            <p><%= show.price %>  ARS</p>
                            <div class="aniadir-al-carrito">
                                <div class="cantidad-de-entradas">
                                    <h5 class="">Cantidad</h5>
                                    <i class="fa-solid fa-circle-arrow-left"></i>
                                    <input class="cuadro-de-cantidad" type="text" name="qty" id="quantity_wanted"
                                        value="1" class="form-control" min="1" aria-label="Cantidad"
                                        style="display: block;">
                                    <i class="fa-solid fa-circle-arrow-right"></i>
                                </div>
                            </div>
                            <div>
                                <button class="add-to-cart" data-button-action="add-to-cart" type="submit">
                                    <i class="fa-solid fa-cart-shopping"></i><span>Añadir al carrito</span>
                                </button>
                            
                                <a href="/product/product_edit/<%=show.id%>">
                                    <button class="add-to-cart" data-button-action="add-to-cart">
                                    <i class="fa-solid fa-pen-to-square"></i><span>Editar show</span>
                                </button>
                                </a>

                                  <form method="POST" action="/product/<%=show.id%>?_method=DELETE">
                                    <button class="add-to-trash" data-button-action="add-to-cart" type="submit">
                                        <i class="fa-solid fa-trash"></i><span>Borrar show</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>