<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head') %>
    
    <link rel="stylesheet" href="/css/home.css">

    <title>Inicio | ticket-selva</title>
</head>

<body>
    <header>
        <%- include('./partials/navbar') %>

        <%- include('./partials/navSearch') %>
    </header>

<!-- Main -->

    <main>
        <div class="video">
            <video src="img\vid-banner.mp4" muted autoplay loop></video>
            <div class="banner">
                <h1>Descubre una gran variedad de eventos desde un solo click</h1>
                <h2>Con ticket-selva podés comprar tu entrada on-line, evitando las largas filas a la hora de comprar.</h2>
            </div>
        </div>
        <div class="main">
            <h1>Próximos eventos</h1>
            <div class="cards">
                <% if (shows.length > 8) { %>
                    <% for( let i = 0; i < 8; i++ ) { %>
                        <div class="card">                    
                            <img src= <%= shows[i].imgsrc %>  alt="deberia show">
                            <div class="card-description">
                                <h1><%= shows[i].name %></h1>
                                <p>Fecha: <%= shows[i].date %>  <%= shows[i].time %></p>
                                <a href="/product/<%= shows[i].id %> ">
                                    <button>COMPRAR</button>
                                </a>
                            </div>
                        </div>
                    <% } %>
                <% } else if (shows.length > 4) { %>
                    <% for( let i = 0; i < 4; i++ ) { %>
                        <div class="card">                    
                            <img src= <%= shows[i].imgsrc %>  alt="deberia show">
                            <div class="card-description">
                                <h1><%= shows[i].name %></h1>
                                <p>Fecha: <%= shows[i].date %>  <%= shows[i].time %></p>
                                <a href="/product/<%= shows[i].id %> ">
                                    <button>COMPRAR</button>
                                </a>
                            </div>
                        </div>
                    <% } %>
                <% } else { %>
                    <% for( let i = 0; i < shows.length; i++ ) { %>
                        <div class="card">                    
                            <img src= <%= shows[i].imgsrc %>  alt="deberia show">
                            <div class="card-description">
                                <h1><%= shows[i].name %></h1>
                                <p>Fecha: <%= shows[i].date %>  <%= shows[i].time %></p>
                                <a href="/product/<%= shows[i].id %> ">
                                    <button>COMPRAR</button>
                                </a>
                            </div>
                        </div>
                    <% } %>
                <% } %>                
            </div>
            
            <a href="/product">
                <h2>Más shows</h2>
            </a>
            
            
        </div>
    </main>

<!-- Footer -->

    <footer> 
        
        <%- include('./partials/footer') %>
       
    </footer>
</body>

</html>