<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('../partials/head') %> 
    <link rel="stylesheet" href="/css/users/user.css">
    <script src="https://kit.fontawesome.com/5d58b48687.js" crossorigin="anonymous"></script>

</head>
<body>
  <header>

    <%- include('../partials/topheader') %>

  </header>
    <form class="formulario" action="/user/login" method="post">
      <h1>Ingresar</h1>
      <div class="input-contenedor">
        <i class="fa-solid fa-circle-user icon"></i>
        <input class="input1" type="email" name="email" value="<%= (locals.old && old.email ? old.email : '') %> "  placeholder="Indique su email" >
          <% if(locals.errors && errors.email) { %> 
            <p class="error-msg"> <%= errors.email.msg %> </p>
          <%}%> 
      </div>
      <div class="input-contenedor">
        <i class="fa-solid fa-lock icon"></i>
        <input class="input1" type="password" name="password" placeholder="Indique su contraseña">
        <% if(locals.errors && errors.password) { %> 
          <p class="error-msg"> <%= errors.password.msg %> </p>
        <%}%> 
      </div> 
      <label>Recordarme</label>
            <div class="remember">
            <input type="checkbox" name="recordarme">
            </div>
             
        <input type="submit" value="Ingresar" class="button">

       <p>
         ¿No tienes una cuenta?<a class="link"  href="/user/register"> Registrate</a>
       </p>          
  
  </form>

  <footer>
     <%- include('../partials/bottomfooter') %>
  </footer>

</body>
</html>