<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/products/productDetail.css">

    <link rel="shortcut icon" href="/img/favicon.ico">
    <script src="https://kit.fontawesome.com/d160ea4c64.js" crossorigin="anonymous"></script>
    <title>Bienvenido <%= user.firstName %> <%= user.firstName %></title>
</head>

<body>
    <header>

        <%- include('../partials/navbar') %>

        <%- include('../partials/navSearch') %>

    </header>
    <!--Product Detail version 1-->
    <main>
        <div class="border">
            <h1 class="titulo-show">Bienvenido <%= user.firstName %> <%= user.lastName %></h1>
            <div class="description-product">
                <div class="imagen-show">
                    <img src= /<%= user.avatar %> class="imagen-show" alt="Imagen del Show correspondiente">
                </div>
                <div class="media">
                    <div class="info-del-show">
                        <h5>Nombre: <%= user.firstName %></h5>
                        <h5>Apellido: <%= user.lastName %></h5>
                        <h5>Email: <%= user.Email %></h5>
                    </div>
                    <div class="caja-de-compra">
                        <div class="border-caja-compra">
                            <div>
                                <button class="add-to-cart" data-button-action="add-to-cart" type="submit">
                                    <i class="fa-solid fa-right-from-bracket"></i></i><span>Cerrar sesion</span>
                                </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>